@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 550px;
  width: 100%;
  margin: auto;
}

.wrapper {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.6em;
}

p {
  font-size: 1.2em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .logo {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  -webkit-box-shadow: 0px 5px 5px #d9d9d9;
          box-shadow: 0px 5px 5px #d9d9d9;
  position: relative;
}

.header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ededed;
}

.header .location__icon {
  color: gray;
}

.fonctionnement {
  padding: 0px 20px;
}

.fonctionnement .fonctionnement__title {
  margin: 20px 0;
}

.fonctionnement .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.fonctionnement .card {
  -webkit-box-shadow: 0px 5px 5px #d9d9d9;
          box-shadow: 0px 5px 5px #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
  position: relative;
  gap: 20px;
}

.fonctionnement .card p:first-child {
  position: absolute;
  left: -15px;
  border-radius: 40px;
  padding: 5px 10px;
  background-color: #9356dc;
  color: white;
}

.fonctionnement .card p:last-child {
  font-weight: bold;
}

.fonctionnement .card i {
  margin-left: 25px;
  font-size: 1.3em;
  color: gray;
}

.fonctionnement .card--pink {
  -webkit-box-shadow: 0px 5px 5px #d9d9d9;
          box-shadow: 0px 5px 5px #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
  position: relative;
  gap: 20px;
  background-color: #ffdff6;
}

.fonctionnement .card--pink p:first-child {
  position: absolute;
  left: -15px;
  border-radius: 40px;
  padding: 5px 10px;
  background-color: #9356dc;
  color: white;
}

.fonctionnement .card--pink p:last-child {
  font-weight: bold;
}

.fonctionnement .card--pink i {
  margin-left: 25px;
  font-size: 1.3em;
  color: gray;
}

.fonctionnement .card--pink i {
  color: #9356dc;
}
/*# sourceMappingURL=main.css.map */