.heart-container {
  position: relative;
  .empty-heart {
    width: 30px;
    opacity: 1;
    transition: opacity 400ms;
  }
  .solid-heart {
    position: absolute;
    opacity: 0;
    width: 30x;
    z-index: 1;
    left: 0;
    transition: opacity 400ms;
  }
  &:hover {
    .empty-heart {
      opacity: 0;
    }
    .solid-heart {
      opacity: 1;
    }
  }
  &:active {
    animation: heart-activate 400ms both;
  }
}
