@keyframes heart-activate {
  from {
    transform: scale(1);
  }
  45% {
    transform: scale(2);
  }
  65% {
    transform: scale(1.7);
  }
  85% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.8;
    visibility: initial;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes blur-out {
  from {
    filter: blur(4px);
  }
  to {
    filter: blur(0);
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
