@keyframes heart-activate {
  from {
    transform: scale(1);
  }
  45% {
    transform: scale(2);
  }
  65% {
    transform: scale(1.7);
  }
  85% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
