@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin section-spacing {
  margin: 70px 0;
  padding: 0px 20px;
}

@mixin fade-in-animation($delay) {
  animation: fade-in 500ms $delay both;
}

@mixin fade-out-animation($delay) {
  animation: fade-out 1s $delay both;
}

@mixin blur-out-animation($delay) {
  animation: blur-out 1s $delay both;
}
