.footer {
  background-color: darken($color: $colour-grey, $amount: 60%);
  padding: 10px 20px;
  h4 {
    font-family: $font-shrikhand;
  }
  ul {
    @include flex-column;
    gap: 10px;
    i {
      margin-right: 10px;
    }
  }
  a {
    color: white;
  }
}
