.header {
  @include flex-column;
  &__logo {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 5px 5px darken($color: white, $amount: 15%);
    position: relative;
  }
  &__location {
    @include flex-row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: darken($color: white, $amount: 7%);
    i {
      color: lighten($color: #000000, $amount: 30%);
    }
    p {
      font-family: "Roboto", sans-serif;
      @extend i;
    }
  }
}
