.restaurant-main {
  .restaurant-main__img {
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-menu {
    background-color: lighten($color: $colour-grey, $amount: 15);
    border-radius: 40px 40px 0 0;
    height: 1100px;
    margin-top: -70px;
    position: relative;
    padding: 20px;
    header {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: $font-shrikhand;
      }
      i {
        font-size: 1.5em;
      }
    }

    .entrées,
    .plats,
    .desserts {
      h2 {
        opacity: 0;
      }
    }

    .entrées {
      h2 {
        @include fade-animation(1s);
      }
    }
    .plats {
      h2 {
        @include fade-animation(2.5s);
      }
    }
    .desserts {
      h2 {
        @include fade-animation(4s);
      }
    }

    .card-container {
      @include flex-column;
      gap: 15px;
      .first {
        @include fade-animation(1s);
      }
      .second {
        @include fade-animation(1.5s);
      }
      .third {
        @include fade-animation(2s);
      }
      .four {
        @include fade-animation(2.5s);
      }
      .five {
        @include fade-animation(3s);
      }
      .six {
        @include fade-animation(3.5s);
      }
      .seven {
        @include fade-animation(4s);
      }
      .eight {
        @include fade-animation(4.5s);
      }
      .nine {
        @include fade-animation(5s);
      }
      .container__card {
        opacity: 0;
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        box-shadow: $box-shadow;
        h3,
        p {
          margin: 0;
        }
        em {
          font-weight: bold;
          font-style: normal;
        }
        div {
          @include flex-row;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
