.restaurant-main {
  .restaurant-main__img {
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-menu {
    background-color: lighten($color: $colour-grey, $amount: 15);
    border-radius: 40px 40px 0 0;
    margin-top: -70px;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
    @include flex-column;
    justify-content: space-between;
    gap: 25px;
    align-content: space-around;
    align-items: center;
    header {
      width: 100%;
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: $font-shrikhand;
      }
      i {
        font-size: 1.5em;
      }
    }
    .menu-part {
      width: 100%;
      h2 {
        opacity: 0;
        border-bottom: 3px solid $colour-tertiary;
        width: 30px;
        @include fade-in-animation(500ms);
      }
    }

    @for $i from 1 through 4 {
      .card-container .card:nth-child(#{$i}) {
        @include fade-in-animation($i * 500ms);
      }
    }

    .card-container {
      @include flex-column;
      gap: 15px;
    }
  }
  .card {
    cursor: pointer;
    @include flex-row;
    opacity: 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: $box-shadow;
    overflow: hidden;
    &:hover {
      i {
        transform: rotate(360deg);
        transition: transform 400ms 100ms;
      }
      .card__info {
        transition: width 400ms;
        width: 80%;
      }
      .card__checked {
        transition: width 400ms;
        width: 20%;
      }
    }
    &__info {
      @include flex-column;
      gap: 5px;
      padding: 15px;
      width: 100%;
      div {
        @include flex-row;
        justify-content: space-between;
      }
    }
    &__checked {
      width: 0%;
    }
    &__check {
      background-color: $colour-tertiary;
      height: 100%;
      border-radius: 0 15px 15px 0;
      @include flex-row;
      justify-content: center;
      align-items: center;
      i {
        color: white;
        font-size: 2em;
        transform: rotate(90deg);
      }
    }
    h3,
    p {
      margin: 0;
      overflow: hidden;
      width: 80%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    em {
      font-weight: bold;
      font-style: normal;
    }
  }
}
